 {% block 'footer' %}
    <footer> 
        <div class="footer text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-dark" href="#">r@#u!</a>
        </div>
    </footer>  
  {% endblock %}